@charset "utf-8";

*{box-sizing: border-box;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body{
    font-family: 'Pretendard-Regular'; 
    margin: 0; 
    padding: 0; 
}
header, section, article, aside, nav, main, footer{
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0; 
    padding: 0;
}
a{
    text-decoration: none; 
    color: black;
}

.por {
    position: relative;
}
.poa {
    position: absolute;
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.aic {
    align-items: center;
}
.tac {
    text-align: center;
}
.jcsb {
    justify-content: space-between;
}
.jcc {
    justify-content: center;
}
.jcsa {
    justify-content: space-around
}
.jcse {
    justify-content: space-evenly;
}
.flex-auto {
    flex: 1 1 auto;
}

.mb-5 {
    margin-bottom: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.w100 {
    width: 100%;
}
.cur {
    cursor: pointer;
}

.none {
    display: none;
}

.fz12 {
    font-size: 12px;
}
.fz13 {
    font-size: 13px;
}
.fz14 {
    font-size: 14px;
}
.fz15 {
    font-size: 15px;
}
.fz16 {
    font-size: 16px;
}
.fz17 {
    font-size: 17px;
}
.fz18 {
    font-size: 18px;
}

.cover {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.35);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cover.active {
    display: block;
}
/* 나이트 모드 */
html {
    transition: all 0.5s ease-in-out;
}
html.dark {
    background-color: #121212;
    color: rgb(211, 211, 211);
}

/* 드래그 방지 */
body { 
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none 
}

.betting-screen {
    height: 65px;
    line-height: 45px;
    font-size: 20px;
    border-width: 2px !important;
}
.container { 
    position: relative;
    width: 100%; 
    min-width: 360px;
    max-width: 500px; 
    margin: 30px auto;
    padding: 15px;
}
.btn {
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.btn-player {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    margin-right: 10px;
}
.btn-player:hover {
    background-color: #2a8aca;
}
.btn-player:active {
    background-color: #a9dbfc;
    border-color: #a9dbfc;
}
.btn-banker {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
.btn-banker:hover {
    background-color: #d63422;
}
.btn-banker:active {
    background-color: #ffb3aa;
    border-color :#ffb3aa;
}
.btn-tie {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #fff;
    margin-right: 10px;
}
.btn-tie:hover {
    background-color: #afafaf;
}
.btn-tie:active {
    background-color: #e1e1e1;
    border-color :#e1e1e1;
}
.screen {
    width: 100%; 
    font-weight: 600;
    border: 1px solid #c7c7c7; 
    padding: 10px 20px; 
    border-radius: 4px; 
    margin-bottom: 10px;
}
.screen.active {
    color: #ff0000;
    animation: blink-effect 1s infinite;
}
@keyframes blink-effect { 
    50% { opacity: 0; } 
}


.cul-body {
    width: 100%;
}
.cul-body-left {
    width: 130px;
}

.night-mode,
.setting-btn {
    min-width: 38px;
    height: 38px;
    border-radius: 10px;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    border: 1px solid #333;
}
.setting-btn:hover,
.night-mode:hover {
    color: #333;
    background-color: rgb(231, 231, 231);
}
.night-mode.active {
    color: #333;
    background-color: rgb(231, 231, 231);
}
.night-mode.active:hover {
    background-color: #333;
    color: #fff;
}
.setting-btn i,
.night-mode i {
    margin: 0 auto;
    font-size: 23px;
}
.game-menu {
    display: none;
}
.game-menu,
.game-set {
    top: 0%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    /* font-size: 14px; */
}
.game-set {
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-menu.active {
    display: block;
}
.set-btn {
    display: none;
}
.set-btn.active {
    display: block;
}

.game-set.dark,
.game-menu.dark {
    background-color: #121212;
}
.cover.dark {
    background-color: rgba(0, 0, 0, 0.35);
}
.game-menu ol {
    margin-left: 20px;
}
.game-menu h4,
.game-menu li {
    padding-bottom: 3px;
}
.notice {
    color: #ff1900;
}
.close {
    top:5px;
    right: 20px;
    position: absolute;
    display:inline-block;
    *display:inline;
    cursor: pointer;
}

.close:after {
    display: inline-block;
    content: "\00d7"; 
    font-size:30pt;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Aclick {
    background-color: #3498db;
}
.Bclick {
    background-color: #e74c3c;
}
.resultView {
    color: #fff;
}

.bottom-ball {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 10px 10px 10px 0;
}

.markAmount {
    width: 40px;
    text-align: center;
}